* {
  margin: 0;
  font-size: 14px;
}

.app {
  background-color: #fafafa;
  height: 100%;
}

.app_posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app_postsRight {
  margin-left: 20px;
}

.app_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  /* keep the aspect ratio */
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.app_headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 975px;
  width: 100%;
}

.app_headerImage {
  object-fit: contain;
  height: 30px;
  min-width: 40px;
  flex: 1 9999 0%;
}

.app_loginContainer {
  justify-content: flex-end;
  flex: 1 0 0%;
}

.app_signup {
  display: flex;
  flex-direction: column;
}

.app_upload {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid lightgray;
}