.imageupload {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imageupload_progress {
    width: 100%;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid lightgray;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
}