.post {
    background-color: white;
    max-width: 614px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-bottom: 60px;
    margin-right: 28px;
    width: 100%;
}

.post_image {
    width: 100%;
    object-fit: contain;
    border: 0;

}

.post_text {
    font-weight: normal;
    padding: 0 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 16px;
    height: 20px;
    border-bottom: 1px solid #efefef;
}

.post_avatar {
    margin-right: 14px;
    height: fit-content;
    width: fit-content;
}

.post_comments {
    padding: 0 16px;
}

.post_comment {
    margin-bottom: 4px;
}

.post_commentBox {
    display: flex;
    margin-top: 10px;
}

.post_input {
    flex: 1;
    border: none;
    padding: 15px;
    border-top: 1px solid lightgray;
}

.post_button {
    flex: 0;
    color: lightskyblue;
    border: none;
    background-color: transparent;
    border-top: 1px solid lightgray;
    padding-left: 15px;
    padding-right: 15px;
}